{% extends "base.html" %}

{% block content %}

<div id="about-body" style=" margin:auto; width: 50%;">
    <h3>About</h3>
    <p>Railroad project for Professor Peter Barnett's database course, the topic 
        assigned was an alteration of task 5 which resulted in this application implementing an extension of the Railroad
        to the the south with trains starting and ending in Roanoake, Richmond and Lynchburg, VA. We were allowed to make them skip stops
        as long as their schedule fits around the ones running in between DC and Boston.
    </p>

    <p>Code can be found at: <a href>https://github.com/Kris1135/RailroadProject</a></p>
</div>

{% endblock content %}