<!DOCTYPE html>
{% comment %} Bootstrap {% endcomment %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

{% comment %} jQuery Date selector {% endcomment %}
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

{% comment %} jsGrid {% endcomment %}

<link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.css" />
<link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid-theme.min.css" />
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.js"></script>

{% comment %} Moment js for time and dates... {% endcomment %}
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment.js"></script>


<html>
    <head>
        <title>Railroad Reservation</title>
    </head>

    <body style="margin-top:80px; padding-left:20px">
        {% block nav %}
        <nav class="navbar navbar-inverse navbar-fixed-top">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="{% url 'index' %}">Team 5-G</a>
                    </div>
                    <ul class="nav navbar-nav">
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'book' %}">Book Reservation</a></li>
                        <li><a href="{% url 'current' %}">Current Reservations</a></li>
                    
                    {% endif %}
                        <li><a href="{% url 'about' %}">About</a></li>
                    </ul>
                    {% if user.is_authenticated %}
                    <ul class="nav navbar-nav navbar-right">
                            <li><a href="#">Logged in as {{ user.get_username }} </a></li>
                            <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                    </ul>
                    {% else %}
                    <ul class="nav navbar-nav navbar-right">
                            <li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                    </ul>
                    {% endif %}
                    
                </div>
              </nav>
        {% endblock nav%}

    {% block content %}
        
    {% endblock content %}
    </body>

</html>