<!DOCTYPE html>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<html>
    <head>
        <title>Railroad Reservation</title>
    </head>

    <body style="margin-top:80px; padding-left:20px">
        {% block nav %}
        <nav class="navbar navbar-inverse navbar-fixed-top">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="{% url 'index' %}">Team 5-G</a>
                    </div>
                    <ul class="nav navbar-nav">
                    {% if user.is_authenticated %}
                        <li><a href="#">Current Reservations</a></li>
                        <li><a href="#">Account Settings</a></li>
                    
                    {% endif %}
                        <li><a href="#">About</a></li>
                    </ul>
                    {% if user.is_authenticated %}
                    <ul class="nav navbar-nav navbar-right">
                            <li><a href="#">Logged in as {{ user.get_username }} </a></li>
                            <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                    </ul>
                    {% else %}
                    <ul class="nav navbar-nav navbar-right">
                            <li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                    </ul>
                    {% endif %}
                    
                </div>
              </nav>
        {% endblock nav%}

    {% block content %}
        
    {% endblock content %}
    </body>

</html>