{% extends "base.html" %}

{% block content %}

<style>
    .modal-body label {
        width: 25%;
    }    
</style>

{% if user.is_authenticated %}
    {% comment %} Modal for search {% endcomment %}
    <!-- Modal -->
    <div id="editModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
      
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" style="text-align:center">Book reservation</h4>
                </div>
                <div class="modal-body">
                    
                    <div id="currRes"></div>
                    <p>Choose your new reservation parameters:</p>
                    <form method="post" id="searchForm">
                        {% csrf_token %}
                        {% for field in form %}
                        <p>
                        {{ field.label_tag }}{{ field }}
                        {% if field.help_text %}
                        {% comment %} <small style="color: grey">{{ field.help_text }}</small> {% endcomment %}
                                                
                        {% endif %}
                        {% for error in field.errors %}
                        <p style="color: red">{{ error }}</p>
                        {% endfor %}
                        <br>
                        </p>
                        {% endfor %}
                            
                        <button type="submit" id="searchBtn" name="searchForm_submit">Search</button>
                    </form>
            
                    <div id='jsGrid1'></div>

                </div>
            </div>
      
        </div>
    </div>

    <div id="editConf" class="modal fade" role="dialog">
        <div class="modal-dialog">
    
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" style="text-align:center">Edit reservation</h4>
                </div>
                <div class="modal-body">
                    <form method="post">
                        {% csrf_token %}
                        <div class="buttons-form" style="display: block; text-align:center">
                            <p>Are you sure you want to edit this reservation?</p>
                            <button type="button" class="btn btn-primary" id="editConfirm">Yes</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                        </div>
                    </form>
                </div>
            </div>
    
        </div>
    </div>

    <div id="deleteModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
    
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" style="text-align:center">Delete reservation</h4>
                </div>
                <div class="modal-body">
                    <form method="post">
                        {% csrf_token %}
                        <div class="buttons-form" style="display: block; text-align:center">
                            <p>Are you sure you want to delete this reservation?</p>
                            <p><label for="res_id">Ticket number: </label>{{ deleteForm.reserve_id }}</p>
                            <button type="submit" class="btn btn-primary" name="deleteConfirm">Delete</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
    
        </div>
    </div>


    <h3>These are your currently booked reservations, as well as your reservation history.</h3>
    <p>To edit a reservation click the blue pencil, to delete a reservation click the red trash can.</p>
    <p>Your unique Passenger ID is <b> {{request.user.id}} </b> </p>
    <div id="jsGrid"></div>


    <div id="hiddenEdit">

    </div>
{% if context1 == None %}
    <script>
        $('#hiddenEdit').toggle();
    </script>
{% endif %}    

{% else %}
    <p>You must be logged in to view this page.</p>
{% endif %}


<script type="text/javascript">
    var res_id_hold;
    document.getElementById("id_reserve_id").readOnly = true



    $( function() {
        $( "#id_reserve_day" ).datepicker({
            minDate: 0
        });
      });


    // Submit post on submit
    $('#searchForm').on('submit', function(event){
        event.preventDefault();
        search_res();
    });

    //AJAX for edit nested in search
    function edit_res(reserve_id, train_id, res_day, start_time, end_time, start_loc, end_loc, price){

        $.ajax({
            url: "/edit/",
            type: "POST",
            data : {
                reservation_id: reserve_id,
                train: train_id,
                reservation_day: res_day,
                departure: start_time,
                arrival: end_time,
                start_location: start_loc,
                end_location: end_loc,
                fare: price,
                csrfmiddlewaretoken: '{{ csrf_token }}',
            },
            success : function(json){
                location.reload();
                
            },
            error : function(xhr,errmsg,err) {
                $('#results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: "+errmsg+
                    " <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
                console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
            }
    
        })   
           
    }

    //AJAX for search
    function search_res() {
        $.ajax({
            url: "/current/",
            type: "POST",
            data : {
                time_of_day: $("#id_time_of_day").val(),
                reserve_day: $("#id_reserve_day").val(),
                start_loc: $('#id_start_loc :selected').text(),
                end_loc : $("#id_end_loc :selected").text(),
                action: 'searchForm_submit',
                csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            success : function(json){
                reservations = [];
                for (x = 0; x < json.departure.length; x++ ) {
                    reservations.push(
                        {"Train": json.train_id[x], "Departure": json.departure[x], "Arrival": json.arrival[x], "Seats Free":json.free_seats[x], "Price": json.price[x]}
                    )
                }
                //refill grid
                $("#jsGrid1").jsGrid({
                    width: "100%",
                    height: "400px",
                    align: "center",
            
                    inserting: false,
                    editing: false,
                    sorting: true,
                    paging: true,
                    selectable: true,
            
                    rowClick: function(args) {
                        var data = args.item;
                        if (data["Seats Free"] == 0) {
                            alert("Not enough seats!")
                        }
                        else {
                            //On click submit change
                            
                            $('#editConf').modal('show');

                            //submit form to edit
                            //reserve_id = res_id_hold
                            var train = data["Train"];
                            var booking_date = $("#id_reserve_day").val();
                            var trip_start = data["Departure"];
                            var trip_end = data["Arrival"];
                            var start_loc = $('#id_start_loc :selected').text();
                            var end_loc = $("#id_end_loc :selected").text();
                            var price = data["Price"];
                            

                            //call form submit fn
                            $( "#editConfirm" ).click(function(){
                                edit_res(res_id_hold, train, booking_date, trip_start, trip_end, start_loc, end_loc, price);
                            });
                        }
                    },
             
                    data: reservations ,
             
                    fields: [
                        { name: "Train", type: "number", validate: "required" },
                        { name: "Departure", type: "text",  },
                        { name: "Arrival", type: "text",  },
                        { name: "Seats Free", type: "number",  },
                        { name: "Price", type: "number", },
                    ]
                });
            },
            error : function(xhr,errmsg,err) {
                $('#results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: "+errmsg+
                    " <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
                console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
            }
    
        })
    }

    //Format context to pass to grid....
    var res_id_arr = "{{context.reserve_id}}"; res_id_arr = res_id_arr.substr(1).slice(0,-1);
    var res_idstr = res_id_arr.split(",");
    var res_id = [] 

    var res_date_arr = "{{context.reserve_date}}"; res_date_arr = res_date_arr.substr(1).slice(0,-1);
    var res_datestr = res_date_arr.split(",");
    var res_date = []   

    var trip_date_arr = "{{context.trip_date}}"; trip_date_arr = trip_date_arr.substr(1).slice(0,-1);
    var trip_dateestr = trip_date_arr.split(",");
    var trip_date = []  

    var start_loc_arr = "{{context.start_loc}}"; start_loc_arr = start_loc_arr.substr(1).slice(0,-1);
    var start_loc_str = start_loc_arr.split("&#39;,");
    var start_loc = []

    var end_loc_arr = "{{context.end_loc}}"; end_loc_arr = end_loc_arr.substr(1).slice(0,-1);
    var end_loc_str = end_loc_arr.split("&#39;,");
    var end_loc = []

    var price_arr = "{{context.price}}"; price_arr = price_arr.substr(1).slice(0,-1);
    var price_str = price_arr.split(" ");
    var price = []

    var train_arr = "{{context.train}}"; train_arr = train_arr.substr(1).slice(0,-1);
    var trains_str = train_arr.split(" ");
    var trains = []

    var strttime_arr = "{{context.strt_time}}"; strttime_arr = strttime_arr.substr(1).slice(0,-1);
    var strttime_str = strttime_arr.split(",");
    var strttime = []
    
    var endtime_arr = "{{context.end_time}}"; endtime_arr = endtime_arr.substr(1).slice(0,-1);
    var endtime_str = endtime_arr.split(",");
    var endtime = []
    
    var card_arr = "{{context.card}}"; card_arr = card_arr.substr(1).slice(0,-1);
    var card_str = card_arr.split(",");
    var card = []

    var addr_arr = "{{context.addr}}"; addr_arr = addr_arr.substr(1).slice(0,-1);
    var addr_str = addr_arr.split("&#39;,");
    var addr = []

    var reservations = [];

    for(var i in trains_str) {
        res_id.push(parseInt(res_idstr[i]));

        res_datestr[i] = res_datestr[i].replace("&#39;",""); res_datestr[i] = res_datestr[i].replace("&#39;", ""); 
        res_date.push(res_datestr[i]);

        trip_dateestr[i] = trip_dateestr[i].replace("&#39;",""); trip_dateestr[i] = trip_dateestr[i].replace("&#39;", ""); trip_dateestr[i] = trip_dateestr[i].replace(" ", "");
        trip_date.push(trip_dateestr[i]);

        start_loc_str[i] = start_loc_str[i].replace("&#39;",""); start_loc_str[i] = start_loc_str[i].replace("&#39;", "");
        start_loc.push(start_loc_str[i]);

        end_loc_str[i] = end_loc_str[i].replace("&#39;",""); end_loc_str[i] = end_loc_str[i].replace("&#39;", "");
        end_loc.push(end_loc_str[i]);

        price.push(parseFloat(price_str[i]));

        trains.push(parseInt(trains_str[i]));

        strttime_str[i] = strttime_str[i].replace("&#39;",""); strttime_str[i] = strttime_str[i].replace("&#39;", ""); strttime_str[i] = strttime_str[i].replace(" ", "");
        strttime.push(strttime_str[i]);

        endtime_str[i] = endtime_str[i].replace("&#39;",""); endtime_str[i] = endtime_str[i].replace("&#39;", ""); endtime_str[i] = endtime_str[i].replace(" ", "");
        endtime.push(endtime_str[i]);

        card.push(card_str[i]);

        addr_str[i] = addr_str[i].replace("&#39;",""); addr_str[i] = addr_str[i].replace("&#39;", "");
        addr.push(addr_str[i]);

        reservations.push(
            { "Ticket Number": res_id[i] ,"Reservation Date": res_date[i], "Trip Date" : trip_date[i], "Start Location" : start_loc[i], "End Location" : end_loc[i], "Price": price[i],
                "Train" : trains[i], "Start Time": strttime[i], "End Time" : endtime[i], "Card": card[i], "Billing Address" : addr[i]
            }
        )
    }


      $("#jsGrid").jsGrid({
        width: "100%",
        height: "400px",
        align: "center",

        inserting: false,
        editing: false,
        sorting: true,
        paging: true,
        selectable: true,
 
        data: reservations ,
 
        fields: [
            { name: "Ticket Number", type: "number", validate: "required" },
            { name: "Reservation Date", type: "text", validate: "required" },
            { name: "Trip Date", type: "text", validate: "required" },
            { name: "Start Location", type: "text", validate: "required" },
            { name: "End Location", type: "text", validate: "required" },
            { name: "Price", type: "number", validate: "required", width: "50px"  },
            { name: "Train", type: "number", validate: "required", width: "50px"  },
            { name: "Start Time", type: "text", validate: "required", width: "50px"  },
            { name: "End Time", type: "text", validate: "required", width: "50px" },
            { name: "Card", type: "text", validate: "required", width: "75px"  },
            { name: "Billing Address", type: "text", validate: "required" },
            {
                itemTemplate: function(value, item) {
                    var $result = jsGrid.fields.control.prototype.itemTemplate.apply(this, arguments);

                    var $customEditButton = $("<button>").attr({class: "customGridEditbutton jsgrid-button jsgrid-edit-button"})
                        .click(function(e) {
                            var tod_s = item["Start Time"]
                            var tod = parseInt(tod_s.substring(0,2));

                            if(tod >= 6 && tod < 12) 
                                tod = 0;
                            else if(tod >= 12 && tod < 18) 
                                tod = 1;
                            else if(tod >= 18 && tod < 24) 
                                tod = 2;
                            else if(tod >= 0 && tod < 6) 
                                tod = 3;

                            $('#id_time_of_day').val( tod );
                            $('#id_reserve_day').val( item["Trip Date"] );
                            $('#id_start_loc option:contains('+ item["Start Location"].trim() + ')').prop("selected", true);
                            $('#id_end_loc option:contains(' + item["End Location"].trim() + ')').prop("selected", true);

                            $('#jsGrid1').empty();
                            $('#currRes').empty();
                            $('#currRes').append('You are currently editing ticket number ' + item["Ticket Number"]);
                            res_id_hold = item["Ticket Number"];
                            $( "#editModal" ).modal('show');
                      });

                   var $customDeleteButton = $("<button>").attr({class: "customGridDeletebutton jsgrid-button jsgrid-delete-button"})
                        .click(function(e) {
                            $('#id_reserve_id').val( item["Ticket Number"] )
                            $('#deleteModal').modal('show')
                    });

                    return $("<div>").append($customEditButton).append($customDeleteButton);
                },
            }
        ]
    });


</script>

{% endblock content %}